.wrapper {
    padding: 20px 0 40px 40px;
}

.userItem {
    margin-bottom: 15px;
    display: flex;
    gap: 25px;
    align-items: center;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.img {
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.buttons {
    margin: 20px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.buttons span:hover {
    cursor: pointer;
}

.selected {
    font-size: 20px;
    font-weight: 600;
}

.link {
    color: black;
}