.avatar {
    width: 150px;
    margin: 15px;
    border-radius: 15px;
}

.user{
    display: flex;
}

.userInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userItem{
    margin-bottom: 20px;
}