.header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    grid-area: header;
    background: #EE693F;
}

.header img {
    width: 50px;
}

.login {
    margin-left: auto;
}

