.wrapper{
    padding: 20px 0 20px 40px;
}

.friendItem{
    display: flex;
    gap: 25px;
    align-items: center;
}

.img{
    width:80px;
    border-radius: 50%;
}

.name{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}