.nav {
    grid-area: nav;
    background: #F69454;
}

.navList {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.active{
    color: #282828;
    font-weight: 500;
}

.link:hover {
    text-decoration: underline;
}

